STOCK_API_KEY=YOUR_ALPHAVANTAGE_API_KEY
NEWS_API_KEY=YOUR_NEWSAPI_KEY

STOCK_NAME=TSLA
COMPANY_NAME=Tesla Inc

STOCK_ENDPOINT=https://www.alphavantage.co/query?
NEWS_ENDPOINT=https://newsapi.org/v2/everything

MY_EMAIL=your_email@gmail.com
MY_PASSWORD=your_app_password_or_password
RECIPIENT_EMAIL=recipient@gmail.com
